<nav class="navbar navbar-expand-sm navbar-dark primary-color-dark">
    <div class="container pt-2 pb-2">
        <a class="navbar-brand" href="#">
            <b>
                <span>Find Your</span>
                <span class="text-warning"> Worker</span>
            </b>
        </a>
        <div class="d-flex flex-row" *ngIf="!isLogged">
            <a routerLink="/login">
                <button class="btn btn-outline-warning waves-effect mr-2">Login</button>
            </a>
            <a routerLink="/register">
                <button class="btn btn-outline-warning waves-effect">SignUp</button>
            </a>
        </div>


        <div class="d-flex flex-row" *ngIf="isLogged">
            <a (click)="navigateToProfile()">
                <button class="btn btn-outline-warning waves-effect mr-2">Profile</button>
            </a>
            <a (click)="logout()">
                <button class="btn btn-outline-warning waves-effect">Logout</button>
            </a>
        </div>

    </div>
</nav>