<div class="back-color pt-5">
    <div class="container animated fadein">
        <agm-map class="agm-map" [latitude]="lat" [longitude]="lng" [zoom]="9">
            <agm-marker *ngFor="let worker of realTimeWorekrs" [latitude]="worker.Latitude" [longitude]="worker.Longitude" [iconUrl]="url" [animation]="'BOUNCE'">
                <agm-info-window [disableAutoPan]=false [isOpen]=false>
                    <strong>
                        <b> Name - {{worker.FirstName}}
                            <br> Rating - {{worker.Rate}}
                            <br> Charge - {{worker.HourlyCharge}}
                            <br> </b>
                    </strong>
                </agm-info-window>
            </agm-marker>
        </agm-map>
    </div>

    <div class="container mt-5 text-center">
        <div class="row text-center" style="display: inline">
            <button class="btn btn-lg btn-warning" (click)="navigateToLogin()" *ngIf = "!isLogged">Log in to Book a Worker</button>
            <button class="btn btn-lg btn-warning" (click)="sendRequest()" *ngIf = "isLogged">Send Requests</button>
        </div>
    </div>
</div>