<div class="container mt-5">
    <agm-map class="agm-map" [latitude]="7.8731" [longitude]="80.7718">
        <agm-marker *ngFor="let worker of realTimeWorekrs" [latitude]="worker.Latitude" [longitude]="worker.Longitude" [iconUrl]="url">

            <agm-info-window [disableAutoPan]=false [isOpen]=false>
                <strong>
                    <b> Name - {{worker.FirstName}}
                        <br> Rating - {{worker.Rate}}
                        <br> Charge - {{worker.HourlyCharge}}
                        <br> </b>
                </strong>
            </agm-info-window>
        </agm-marker>



    </agm-map>
</div>