<div class="container pt-5 mt-5 animated fadein">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

            <!-- Default form login -->
            <form class="text-center border border-light p-5" [formGroup]="form" (ngSubmit)="loginSubmit(form)">

                <p class="h4 mb-4">Sign in</p>

                <!-- Email -->
                <input type="email" formControlName="username" class="form-control mb-4" placeholder="E-mail">
                <small *ngIf="form.invalid">Please enter valid email</small>
                <!-- Password -->
                <input type="password" formControlName="password" class="form-control mb-4" placeholder="Password">

                <div class="d-flex justify-content-around">
                    <div>
                        <!-- Remember me -->
                        <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
                    </div>
                    <div>
                        <!-- Forgot password -->
                        <a href="">Forgot password?</a>
                    </div>
                </div>

                <!-- Sign in button -->
                <button mdbBtn color="info" block="true" class="my-4" type="submit">Sign in</button>

                <!-- Register -->
                <p>Not a member?
                    <a routerLink="/register">Register</a>
                </p>

            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>