<div class=" blue-grey lighten-5">

    <div class="container pt-5 pb-2">
        <div class="input-group">
            <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="I am looking for ...">
            <div class="input-group-append">
                <div class="btn-group" mdbDropdown>
                    <button mdbDropdownToggle type="button" mdbBtn color="primary" size="md" class="dropdown-toggle z-depth-0" mdbWavesEffect></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="divider dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container pb-5">
        <div class="row">

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4 clearfix">
                        <label for="datepicker float-right">Date</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Date" id="datepicker">
                    </div>
                </div>


            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4 d-flex">
                        <label for="timepicker ">Time</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Time" id="timepicker">
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="container pb-5">
        <div class="row">
            <div class="col-md-6 clearfix">
                <button class="btn btn-primary float-right">Book Now</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary">Book Later</button>
            </div>
        </div>
    </div>

</div>