.book-now{
    margin-right: 10%;
}

.book-later{
    margin-left: 10%;
}

.margin-right-auto{
    margin-right: auto;
}

.wallpaper{
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: url(../../../../assets/img/wallpaper.jpg);
    background-position: 50% 80%;
}

.input-border{
    border-color: black;
}

.agm-map {
    height: 600px;
}

.button-locatoin{
    height: 48px;
    width: 48px;
}