<button type="button" mdbBtn color="info" rounded="true" data-toggle="modal" data-target="#basicExample" (click)="frame.show()"
    class="btn-sm" mdbWavesEffect>View</button>

<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <mdb-card>
                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <mdb-card-body>
                    <mdb-card-title>
                        <h4>Card Title</h4>
                    </mdb-card-title>
                    <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's content.
                    </mdb-card-text>
                    
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <button class="btn btn-info btn-sm">Accept</button>
                            </div>
                            <div class="col-md-6 text-center">
                                <button class="btn btn-sm btn-warning">Reject</button>
                            </div>
                        </div>
                    

                </mdb-card-body>
            </mdb-card>

        </div>
    </div>
</div>