<div class="container mt-5">
    <div class="row justify-content-between">
        <div class="col-md-6">
            <div class="row justify-content-around">
                <div class="profilePic"></div>
            </div>
            <div class="row justify-content-around mt-2">
                <h3>{{user.FirstName}} {{user.LastName}}</h3>
            </div>
            <div class="row justify-content-center mt-2">
                <div class="col-md-4">
                    Email - 
                </div>
                <div class="col-md-4">
                    {{userEmail}}
                </div>
            </div>
            <div class="row justify-content-center mt-2">
                <div class="col-md-4">
                    Contact Number - 
                </div>
                <div class="col-md-4">
                    {{user.ContactNumber}}
                </div>
            </div>
            <div class="row justify-content-center mt-2">
                <div class="col-md-4">
                    Location - 
                </div>
                <div class="col-md-4">
                    {{user.BaseLocation}}
                </div>
            </div>
        </div>
        <div class="col-md-5 mt-5">
            <div class="row justify-content-around">
                <h2>Add Skills</h2>
            </div>
            <div class="row">

                

            </div>
        </div>
    </div>
</div>