<div class="container pt-5">
    <table class="table">
        <thead class="black white-text">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Request Id</th>
                <th scope="col">View Request</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let req of myRequets;  let i = index" [attr.data-index]="i">
                <th scope="row">{{i}}</th>
                <td>{{req.RequestId}}</td>
                <td>
                    <button class="btn btn-primary btn-sm" (click)="viewReq(req.RequestId)" (click)="frame.show()">View</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<!-- ====================================== request card modal ============================================ -->
<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <mdb-card>
                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <mdb-card-body>
                    <mdb-card-title>
                        <h4>
                            <strong>There is a request for a {{request.skill}}</strong>
                        </h4>
                    </mdb-card-title>
                    <mdb-card-text>
                        <strong>
                            {{request.firstname}} {{request.lastname}} from 
                            {{request.baseLocation}} is looking for a 
                            {{request.skill}} on {{request.date | date}} from
                            <b> {{request.startTime | date:'shortTime' }} </b> to
                            <b> {{request.endTime | date:'shortTime' }} </b>
                        </strong>
                    </mdb-card-text>
                    <button class="btn btn-success mr-5">Accept</button>
                    <button class="btn btn-danger">Reject</button>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
</div>