<div class="container mt-5 pt-5 animated fadein">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

            <!-- Default form register -->
            <form class="text-center border border-light p-5" [formGroup]="form" (ngSubmit)="registerSubmit(form)">

                <p class="h4 mb-4">Sign up</p>

                <!-- E-mail -->
                <input type="email" class="form-control mb-4" placeholder="E-mail"  formControlName="username">

                <!-- email validator message -->
                <div *ngIf="username.touched && username.invalid">
                    <div *ngIf="username.errors.required">
                      <small class="invalidInput">Email is required</small>
                    </div>
                    <div *ngIf="username.errors.email">
                      <small class="invalidInput">Please input correct email type</small>
                    </div>
                    <br>
                  </div>

                <!-- Password -->
                <input type="password" class="form-control mb-4" placeholder="Password" formControlName="password">

                  <!-- password validator message -->
                <div *ngIf="password.touched && password.invalid">
                    <div *ngIf="password.errors.minlength">
                      <small class="invalidInput">Password must be longer than 8 letters</small>
                    </div>
                    <div *ngIf="password.errors.required">
                      <small class="invalidInput">Please enter a password</small>
                    </div>
                    <br>
                  </div>

                <input type="password" class="form-control mb-4" placeholder="Confirm Password" formControlName="confirmPassword">

                  <!-- confirm password validator message -->
                <small class="invalidInput" *ngIf="confirmPassword.touched && confirmPassword?.errors ||
                confirmPassword.touched && confirmPassword.errors?.mismatch">
                  Password doesn't match
                  <br>
              </small>

                <!-- Phone number -->
                <input type="text" class="form-control mb-4" placeholder="Phone number"  formControlName="contactNumber">

                <!-- user type selection radio buttons -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input"  mdbInput formControlName="userType" value="1" id="workerradio">
                                <label class="custom-control-label" for="workerradio">I'm a Worker</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" mdbInput formControlName="userType" value="0" id="clientradio">
                                <label class="custom-control-label" for="clientradio">I'm a Client</label>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sign up button -->
                <button mdbBtn color="info" block="true" class="my-4" type="submit">Sign in</button>

                <hr>
            </form>

        </div>
        <div class="col-md-3"></div>
    </div>
</div>